@mixin main_gradient {
    background-image: linear-gradient(to top, #ee3048 0%, #f26a35 100%);
    opacity: 0.52;
}

//For media queries
@mixin breakpoint($point) {
    @if $point==xs {
        @media (min-width: 0px) {
            @content;
        }
    }

    @else if $point==sm {
        @media (min-width: 768px) {
            @content;
        }
    }


    @else if $point==lg {
        @media (min-width: 1920px) {
            @content;
        }
    }
}

//For text
@mixin text($size: null, $weight: null, $color: null, $text-decoration: null, $line-height: null, $t-transform: null, $letter-spacing: null) {
    font-size: $size;
    font-weight: $weight;
    color: $color;
    text-decoration: $text-decoration;
    line-height: $line-height;
    letter-spacing: $letter-spacing;
    text-transform: $t-transform;
}