.banner {
    grid-area: banner;
}

.banner__page {
    margin-top: 55px;
    transform: scale(1.3);
}

.banner__img {
    width: 100%;
}

@media screen and (min-width: 1920px) {
    .banner__page {
        transform: scale(1);
    }
}