html {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

// Прижатие футера
.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.content {
    min-width: 360px;
    flex: 1 0 auto;
}

.footer {
    flex: 0 0 auto;
}

//Центрирование
.container {
    margin: 0 auto;
}

//Боковые отступы сайта
.padding-site {
    padding: 0 10%;
}

//For tablets
@include breakpoint(sm) {
    .content {
        min-width: 768px;
    }

    .padding-site {
        padding: 0 100px;
    }
}