.page {
    display: grid;
}

@media screen and (max-width: 1920px) {
    .page {
        grid-template-areas:
            'text'
            'animation'
            'banner'
            'slogan';
    }
}

@media screen and (min-width: 1920px) {
    .page {
        grid-template-areas:
            'text animation banner'
            'slogan animation banner';
    }
}