:root {
    --swiper-pagination-bottom: 0px;
}



.swiper-pagination-bullet-active {
    background: #EF5537 !important;
}

.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    bottom: var(--swiper-pagination-bottom);
}